<h1>Hello</h1>
<h4>Are you <%= @abc %></h4>
<p>Time = <%= formatted_time(@time) %></p>
<p>Visited: <%= @time_displayed %> time(s)</p>
<p><%= link_to("Google", "http://google.com") %></p>
<p><%= link_to("898", greeter_goodbye_url) %></p>
